* {
	margin: 0;
	padding: 0;
}

svg {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1250 400 1fr;
	grid-template-rows: 1fr 250 750 1fr;
	grid-template-areas:
	". test info ."
	". graph info .";
}

.graph {
	grid-area: graph;
	padding-top: 40px;
}

.info {
	grid-area: info;
	width: 400px ;
  max-width: 400px;
	height: 700px;
	max-height: 700px;
	display: inline-block;
	overflow: hidden;
	background-color: steelblue;
	font-size: 16px;
	color: white;
	font-family: "Verdana";
	margin: 40px;
	box-shadow:
    0 0 0 10px hsl(207, 44%, 49%),
    0 0 0 15px hsl(209, 20%, 49%);
}

.text-info {
	grid-area: text-info;
	position: relative;
	width: 400px;
	max-width: 400px;
	height: 350px;
	max-height: 350px;
	background-color: steelblue;
	font-size: 16px;
	color: white;
	font-family: "Verdana";
}

.chart-container {
	grid-area: chart-info;
	width: 400px;
	max-width: 400px;
	height: 350px;
	max-height: 350px;
	background-color: steelblue;
}

.buttons {
	grid-area: test;
	background-color: steelblue;
	margin: 40px;
	width: 1150px ; /* or whatever width you want. */
  max-width: 1150px; /* or whatever width you want. */
	box-shadow:
    0 0 0 10px hsl(207, 44%, 49%),
    0 0 0 15px hsl(209, 20%, 49%);
}

body { 
	-webkit-font-smoothing: antialiased; 
}



p {
	padding-top: 10px;
}

button {
    background-color: "grey";
    border: none;
    color: black;
		font-family: "Verdana";
    padding: 16.5px 16.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
		margin: 15px;
}

button:hover {
    background-color: #C0C0C0;
		cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
    background-color: "grey";
    border: none;
    color: black;
		font-family: "Verdana";
    padding: 16.5px 16.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
		margin: 15px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #C0C0C0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
		padding: 10px;
    position: absolute;
    background-color: #f1f1f1;
		font-size: 12px;
		font-family: "Verdana";
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
	background-color: #ddd;
	cursor: pointer;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.bar {
	display:inline-block;
	
}